<div class="main-menu">
  <!-- Meant to be rendered inside the left-handed sidebar and is currently depending on that -->
  <!-- Please note, that due to that not all styles are correctly applied in the lookbook -->
  <%= render OpenProject::Common::SubmenuComponent.new(
    sidebar_menu_items: sidebar_menu_items,
    searchable: searchable,
    create_btn_options: create_btn_options
  )
  %>
</div>
